ul {
  margin-bottom: 1rem;
}

li {
  margin-bottom: 0.5rem;
}

.container {
  display: flex;
}

.content {
  flex: 1 1 80%;
}

.content > ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  margin: 1rem;
}

.sidebar > div > ul:last-of-type {
  flex-direction: column;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.sidebar > div > ul > li {
  white-space: nowrap;
  margin-inline: 0.2rem;
}

.card-item {
  display: flex;
  justify-content: center;
  max-width: 500px;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
}

.search-term-container {
  width: 50%;
  display: flex;
  position: relative;
}

.search-input {
  background: transparent;
  width: 100%;
  align-self: center;
  outline: solid 8px white;
  border-radius: 33px;
  padding: 20px;
  border: none;
  font-size: 1.5em;
  margin: 1rem;
}

.refresh-button {
  position: absolute;
  right: 5%;
  top: 25%;
  color: white;
  scale: 1.8;
}