<header>
  <div class="search-term-container">
    <input #search placeholder="Search Cocktails" [formControl]="searchTerm" type="text" class="search-input">
    <button #refreshButton mat-icon-button matTooltip="Refresh Cocktails" class="refresh-button" (click)="onRefresh()">
      <mat-icon>refresh</mat-icon>
    </button>
  </div>
</header>
<main class="container">
  <div class="content">
    <ul>
      <li *ngFor="let item of cocktailsList(); trackBy: trackByFn" class="card-item">
        <app-cocktail-card class="full-width" [cocktail]="item"></app-cocktail-card>
      </li>
    </ul>
  </div>
</main>