.cocktail-card {
  height: 100%;
  padding: 0.5rem;
  border-radius: 14px;
  background-color: #F9FBE7;
}

img {
  max-width:100%;
  max-height:100%;
  border-radius: 14px;
}

.card-header {
  flex-direction: column;
  margin-bottom: 1rem;
}

.card-subtitle {
  margin-bottom: 1.2rem;
  height: 3rem;
}

.card-title {
  font-size: 1.5em;
}

.card-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.ingredients-container {
  margin-bottom: auto;
  padding-bottom: 1rem;
}

.instructions-container {
  font-style: italic;
}