<mat-card class="cocktail-card">
  <mat-card-header class="card-header">
    <mat-card-title class="card-title">{{cocktail.name}}</mat-card-title>
    <mat-card-subtitle class="card-subtitle">{{cocktail.category}} | {{cocktail.alcoholic}} | {{cocktail.glass}}</mat-card-subtitle>
    <img src="{{cocktail.image}}">
  </mat-card-header>
  <mat-card-content class="card-content">
    <div class="ingredients-container">
      <ul>
        <li *ngFor="let ingredient of cocktail.ingredients">
          {{ingredient.name}} - {{ingredient.measure}}
        </li>
      </ul>
    </div>
    <div class="instructions-container">
      {{cocktail.instructions}}
    </div>
  </mat-card-content>
</mat-card>